; config is self-explanatory
; 1 means enable
; 0 means not enabled

; follow exact without single space
; option=value 


Certificate Check
=============================
check_certificate=1


Main SSl Checks
===================
heartbleed=1
changecipherspecs=1
poodle=1
beast=1
breach=1
lucky13=1
crime=1
rc4=1
perfectforwardsecrecy=1
sslv2=1
;Weak ciphers check (LOW,ANON,NULL,EXPORT)
weak_ciphers=1
; secure renegotiation check
renegotiation=1

Application/Server-side Configuration Related Checks
=====================================================
; http support in port 80, 443 
sslstriping=1
hsts=1
; cookie missing secure flag
surfjacking=1
; Non-SSL elements/contents embedded in SSL page
mixedcontents=1
; cache control check
cachecontrol=1




